main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inspirationTitle {
  font-family: "Fredoka";
  font-size: 2rem;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .categoryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60svw;
  }
}
