* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0a369d;
  --secondary-color: #e4e8f1;
  --tertiary-color: #fffcf4;
}

@font-face {
  font-family: "Fredoka";
  src: url(/static/fonts/Fredoka.ttf);
}

@font-face {
  font-family: "Barlow";
  src: url(/static/fonts/Barlow-Regular.ttf);
}

body {
  background-color: var(--tertiary-color);
}
