footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--main-color);
  font-family: "Fredoka";
}

.copyright,
.footerLink {
  color: var(--tertiary-color);
  margin: 0.5rem;
}

.footerLink {
  text-decoration: none;
}
